body { padding-top: 50px; }

.space-form div{
  margin-bottom: 1rem;
}

.btn-size{
  margin: 7px 5px 7px 5px;
}

.nav-inline li{
  display: inline;
}

.inline-c{
  display: inline;
}

@media(max-width: 770px){
  .space-r{
    margin-top: 7px;
  }
}

.space-tabs{
  margin-bottom: 3rem; 
  margin-top: 3rem;
}

.space-top{
  margin: 2rem 0rem 2rem 0rem;
}

.space-form2{
  margin: 0 0 3rem 0;
}

/*.vertical-text {
  max-width: 5px;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);

  background:transparent !important;
  background: rgba(255,255,255,0);
}*/

/*.rotate-cells th{
  height: 160px;
  max-height: 20px;
}

.rotate-cells th > span{
  position: relative;
  top: -60px;
  left: -55px;
}

.cent{
  position: relative;
  margin-left: center;
  margin-right: center;
  text-align: center;
}

.alig-cell{
  vertical-align: middle !important;
}
*/
.espaco-0 td, .espaco-0 th {
  padding: 5px !important;
  text-align: center !important;
  vertical-align: middle !important;
}


/*body { background: #99cc33 }*/

/*@media print {
  * {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
  }
}*/

.header-print{
  display: none;
}

.footer-print{
  display: none;
}

@page  
{ 
  size: auto; 
  margin: 1mm 5mm 5mm 5mm;  
}

@media print {
  .header-print{
    display: inline;
  }
  .footer-print{
    display: inline;
    position: absolute;
    bottom: 0;
    right: 42%;
  }
  .print-data tbody > tr > td{
    font-size: 7pt;
  }
  .print-data thead > tr > th{
    font-size: 7pt;
  }
  .img-teste{
    width: 55%;
    height: 55%;
  }
}

.alig-header{
  position: relative;
  margin-left: 200px;
}

.cent{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.small-padding td {
  padding: 0 !important;
}

.center { text-align: center; }

.center-total tr td:nth-child(2) { text-align: center; }