{% extends 'base.html' %}

{% block body %}

<nav class="navbar navbar-default">
	<div class="container">
		<!-- Form Search -->
		<div class="row">
			<ul class="nav nav-inline">
				<li>
					<div class="col-md-8 col-xs-8 col-sm-8 space-top">
						<form class="form-horizontal" action="." method="get">
							<div class="input-group">
								<input id="search_box" name="search_box" type="text" placeholder="Informe o nome do Funcionário" class="form-control" autofocus="true" value="{{ request.GET.search_box }}">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default form-control" title="Clique para realizar a pesquisar">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</span>
							</div>
						</form>
					</div>
				</li>
				<li>
					<div class="col-md-4 col-xs-4 col-sm-4 space-top">
						<a class="btn btn-default" href="{% url 'bank_of_hours_add' %}"> 
							<i class="fa fa-file-o" aria-hidden="true"></i>
							Novo
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Data</th>
						<th>Nome</th>
						<th>Horas</th>
						<th style="width: 140px;">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for bank_of_hours in object_list %}
					<tr>
						<td>{{ bank_of_hours.work_date|date:"d/m/Y" }}</td>
						<td>{{ bank_of_hours.employee.name }}</td>
						<td>{{ bank_of_hours.cumulative_hours }}</td>
						<td>                    
							<a href="{% url 'bank_of_hours_details' bank_of_hours.id %}" class="btn btn-default" title="Exibir">
								<i class="fa fa-search" aria-hidden="true"></i>
							</a>

							<a href="{% url 'bank_of_hours_edit' bank_of_hours.id %}" class="btn btn-default" title="Editar">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a>

							<a href="#modal-id-{{ bank_of_hours.id }}" class="btn btn-default" title="Remover" data-toggle="modal">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
							</a>
						</td>
					</tr>

					<!-- MODAL -->
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="modal fade" id="modal-id-{{ bank_of_hours.id }}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title">Alerta!</h4>
									</div>
									<div class="modal-body">
										<p>Deseja realmente remover <strong>{{ bank_of_hours.name }}</strong>?</p>
									</div>
									<div class="modal-footer">
										<form action="{% url 'bank_of_hours_delete' bank_of_hours.pk %}" method="post">{%csrf_token%}
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											<button type="submit" class='btn btn-danger' title='Deletar'>
												Delete
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /MODAL -->
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<center>
		<!-- Paginação -->
		{% if page_obj.has_other_pages %}
		<nav>
			<ul class="pagination">
				{% if page_obj.has_previous %}
				<li>
					<a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% else %}
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				{% endif %}
				{% for page_num in page_obj.paginator.page_range %}
				<li {% if page_num == patients.number %} class="active" {% endif %}>
					<a href="?page={{ page_num }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">{{ page_num }}</a>
				</li>
				{% endfor %}
				{% if page_obj.has_next %}
				<li>
					<a href="?page={{ page_obj.next_page_number}}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% else %}
				<li class="disabled">
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
		{% endif %}
		<!-- Fim da Paginação -->
	</center>
</div>
</div>

{% endblock %}