{% extends 'base.html' %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Dados do Funcionário</a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-default nav-dist-btn" href="{% url 'employee:employee_list' %}"> 
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Voltar
          </a>
        </p>
      </li>

      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'employee:employee_edit' object.id %}"> 
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Editar
          </a>
        </p>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
          <strong>Nome:</strong>
          {{ object.name }}
        </p>
        <p>
          <strong>CPF:</strong>
          {{ object.cpf }}
        </p>
        <p>
          <strong>Siape:</strong>
          {{ object.siape }}
        </p>
        <p>
          <strong>Sexo:</strong>
          {{ object.sex }}
        </p>
        <p>
          <strong>Estado civil:</strong>
          {{ object.marital_status }}
        </p>
        <p>
          <strong>Nascimento:</strong>
          {{ object.birth_date }}
        </p>
        <p>
          <strong>Email:</strong>
          {{ object.email }}
        </p>
        <p>
          <strong>Telefone:</strong>
          {{ object.phone }}
        </p>
        <hr>
        <h4>Endereço</h4>
        <hr>
        <p>
          <strong>País:</strong>
          {{ object.address.country }}
        </p>
        <p>
          <strong>Estado:</strong>
          {{ object.address.state }}
        </p>
        <p>
          <strong>Cidade:</strong>
          {{ object.address.city }}
        </p>
        <p>
          <strong>Bairro:</strong>
          {{ object.address.neighborhood }}
        </p>
        <p>
          <strong>Rua:</strong>
          {{ object.address.street }}
        </p>
        <p>
          <strong>Numero:</strong>
          {{ object.address.number }}
        </p>
        <p>
          <strong>Complemento:</strong>
          {{ object.address.complement }}
        </p>
        <p>
          <strong>Cep:</strong>
          {{ object.address.zip_code }}
        </p>
        <p>
          <strong>Ponto de Referência:</strong>
          {{ object.address.reference_point }}
        </p>
      </div>
    </div>
  </div>

  {% endblock %}